[data-md-color-primary="my-orange"] .md-nav__source {
    background-color: #C25608;
}

[data-md-color-primary="my-orange"] .md-header {
    background-color: #C25608;
}

[data-md-color-primary="my-orange"] .md-tabs {
    background-color: #C25608;
}

[data-md-color-primary="my-grey"] .md-nav__source {
    background-color: #434448;
}

[data-md-color-primary="my-grey"] .md-header {
    background-color: #434448;
}

[data-md-color-primary="my-grey"] .md-tabs {
    background-color: #434448;
}
